---
import { getAndGroupUniqueTags } from "../../lib/utils";
import { PROFILE } from "../../content/profileData";


const tagsMap = await getAndGroupUniqueTags();

const skills = PROFILE.skills;
---

<div class="flex flex-col mt-2 ml-4 gap-2 animate-appear">
  
  
  <ul class="list-inside list-disc columns-2">
    {
      skills.map((skill) => {
        if (tagsMap.has(skill)) {
          return (

            <li>
              <a href=`/tags/${skill}` class=" hover:font-bold">
                {skill}
              </a>
            </li>
          )
        } else {
          return (
            <li>
              <span>
                {skill}
              </span>
            </li>
          )
        }

      })
    }
  </ul>

  
</div>

